<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chain Code Detection</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Chain Code Detection</h1>
        {% block content %}

        {% endblock %}
    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
